/* Variables */

:root {
  --basic-black: #000000;
  --basic-grey-dark: #333333;
  --basic-white: #ffffff;

  --basic-grey: #888888;
  --basic-blue-light: #81b3d2;
  --basic-grey-light: #eeeeee;
  --basic-brown: #766357;
  --basic-brown-focus: #604e43;
  --basic-brown-active: #503e33;
  --basic-blue-focus: #669ec0;
  --basic-blue-active: #5496bd;
  --basic-grey-footer: #bdbbbc;
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --body-color: #F2F2F2;
  --shadow-color: rgba(0, 1, 1, 0.2);
  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-grey-light: #F2F2F2;
  --basic-grey-text: #666666;
  --bg-catalog: #576f7c38;
  --arrow: #cacaca;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--body-color);
  height: 100%;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--shadow-color);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Header */

.main-header {
  background-color: var(--basic-white);
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  z-index: 1;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  width: 25%;
}

.site-navigation,
.info-items,
.features-list,
.footer-social,
.filter-list,
.hotel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation-item:nth-child(4n+1) {
  padding: 15px 32px 15px 72px;
}

.site-navigation-item:nth-child(4n+2) {
  padding: 15px 100px 15px 32px;
}

.site-navigation-item:nth-child(4n+3) {
  text-align: right;
  padding: 15px 32px 15px 100px;
}

.site-navigation-item:nth-child(4n+4) {
  text-align: right;
  padding: 15px 72px 15px 32px;
}

.site-navigation-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--basic-blue-light);
}

.site-navigation-link:focus {
  opacity: 0.3;
}

.site-navigation-link:active {
  color: var(--basic-brown);
}

/* Main */

.container {
  text-align: center;
}

.section-logo {
  position: relative;
  background-color: var(--basic-grey);
  background-image: url("/img/background_main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px;
}

.section-logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("/img/bg-cut.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-logo svg {
  padding: 0;
  margin: 0;
}

.features-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 51px;
  padding-top: 42px;
}

.subtitle-features {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
  width: 470px;
}



.features-list {
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 65px 82px 65px;
}

.features-item-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding: 28px 0 25px 0;
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.info-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 256px;
}

.info-reverse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 256px;
}

.info-content {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  padding: 49px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.info-span {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 23px;
}

.info-content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.info-items {
  background-color: var(--basic-grey-light);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 73px 54px 73px;
}

.info-subtitle {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
  width: 155px;
  margin-bottom: 25px;
}

.info-item-subtitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.info-span-b {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin-bottom: 23px;
}

.search-info-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-top: 59px;
  margin-bottom: 30px;
}

.search-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 435px;
}

.button-search-hotel {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  padding: 30px 125px 30px 125px;
  margin: 0;
  z-index: 1;
}

.button-search-hotel:hover {
  background-color: var(--basic-brown-focus);
}

.button-search-hotel:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-white-03);
}

.search-block {
  position: relative;
  margin: 40px auto 0 auto;
  width: 568px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.search-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  padding: 55px;
  background-color: var(--basic-white);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.search-item-checkin {
  width: 100%;
  display: flex;
  margin-bottom: 29px;
}

.checkin-span {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  margin-right: 20px;
}

.checkin-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  flex-grow: 1;
}

.search-item-arrive {
  width: 100%;
  display: flex;
  margin-bottom: 29px;
}

.arrive-span {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  margin-right: 20px;
}

.arrive-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  flex-grow: 1;
}

.search-item-50 {
  width: 45%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 29px;
}

.adult-span,
.child-span {
  margin-right: 20px;
}

.adult-span,
.adult-span_1,
.adult-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.adult-input,
.child-input {
  width: 50px;
}

.child-span,
.child-span_1,
.child-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.adult-span_1,
.child-span_1 {
  position: relative;
}

.search-button {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px 182px 16px 182px;
  border: none;
  width: 100%;
}

.search-button:hover {
  background-color: var(--basic-blue-focus);
}

.search-button:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-white-03);
}

/* Footer */

.main-footer {
  background-color: var(--basic-white);
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  padding: 40px 100px;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-phone {
  color: inherit;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright-text {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-right: 15px;
}

.footer-copyright svg{
  fill: var(--basic-black);
}

.footer-copyright:hover svg {
  fill: var(--basic-blue-light);
}

.footer-copyright:active svg {
  fill: var(--basic-grey-footer);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 48px;
  background-color: var(--basic-blue-light);
  margin: 0 6px 6px 0;
}

.social-button svg{
  fill: var(--basic-white);
}

.social-button:hover {
  background-color: var(--basic-blue-focus);
}

.social-button:active {
  background-color: var(--basic-blue-active);
}

.social-button:active svg {
  opacity: 0.3;
}

/* Catalog */

.catalog-form {
  background-color: var(--bg-catalog);
  background-image: url(/img/background_catalog.jpg);
  color: var(--basic-white);
}

.container-form {
  display: flex;
  padding: 25px 72px 0 72px;
  justify-content: space-between;
}

.container-form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container-form-item-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: -200px;
}

.form-price {
  display: flex;
  flex-direction: column;
}

.container-placeholder {
  display: flex;
  flex-direction: row;
}

.container-placeholder-button {
  padding-top: 33px;
}

.filter-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.filter-list {
  list-style: none;
}

.filter-list-item {
  display: flex;
  margin-bottom: 25px;
}

.features-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.hotel-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.filter-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.filter-subtitle-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.filter-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: transparent;
  text-transform: uppercase;
  padding: 7px 35px 8px 36px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Hotels */

.container-sort {
  display: flex;
  align-items: center;
  padding: 30px 72px 30px 72px;
}

.sort-list {
  padding: 0;
  margin: 0;
  margin-left: 40px;
}

.sort-span {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-subtitle {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 46px;
}

.sort-item {
  display: inline;
  margin-right: 30px;
}

.sort-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dashed #81B3D2;
  color: var(--basic-black-03);
}

.sort-link:hover {
  color: var(--basic-blue-light);
}

.sort-link:active {
  color: var(--basic-black);
  border: none;
}

.sort-arrow-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}

.sort-arrow-item {
padding-right: 12px;
}

.sort-arrow {
  display: block;
}

.sort-arrow-reverse {
  transform: rotate(180deg);
}

.sort-arrow svg {
  fill: var(--arrow);
}

.sort-arrow:hover svg {
  fill: var(--basic-black);
}

.sort-arrow:active svg {
  fill: var(--basic-blue-light);
}

.sort-arrow.active {
pointer-events: none;
}

.sort-arrow.active svg {
  fill: var(--basic-blue-light);
}

/* Hotels catalog */

.hotel-item {
  display: flex;
  padding: 30px 73px 30px 73px;
  align-items: center;
  margin: 0;
}

.container-hotel {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  position: relative;
}

.hotel-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-info {
  display: flex;
  flex-direction: column;
}

.container-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.container-rating {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.hotel-item-link {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.hotel-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  text-align: left;
}

.hotel-name:hover {
  color: var(--basic-blue);
}

.hotel-name:active {
  color: var(--basic-black-03);
}

.hotel-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  text-align: left;
}

.hotel-info-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  text-align: left;
}

.hotel-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
  padding: 3px 16px 3px 17px;
  margin-right: 6px;
}

.hotel-more:hover {
  background-color: var(--basic-blue-focus);
}

.hotel-more:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-white-03);
}

.hotel-book {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  padding: 3px 17px 3px 16px;
}

.hotel-book:hover {
  background-color: var(--basic-brown-focus);
}

.hotel-book:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-white-03);
}

.hotel-rating {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-grey-light);
  color: var(--basic-grey-text);
  padding: 3px 12px 3px 15px;
  width: 110px;
}

/* Star block */

.star-block {
  position: relative;
  margin: 13px 0 48px 0;
  padding: 0;
  height: 17px;
}

.star-block::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 114px;
  height: 17px;
  background-image: url("../img/star-icon.svg");
}

.star-block--four-star::before {
  width: 80%;
}

.star-block--three-star::before {
  width: 60%;
}

.star-block--two-star::before {
  width: 40%;
}

.star-block--one-star::before {
  width: 20%;
}

/* Star block end */

.sort-link.active {
  color: var(--basic-blue-light);
  pointer-events: none;
  border: none;
}

.site-navigation-link.active {
  color: var(--basic-brown);
  pointer-events: none;
}

